* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! styles header */

.header{
  border: 2px solid green;
  display: flex;
}

.header .cabecera{
  border: 2px solid red;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.header .cabecera .content-head{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! style body */

.raiz{
  border: 3px solid yellow;
  height: 85vh;
}

.container{
  border: 2px solid violet;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  height: 65%;
  width: 65%;
  border: 3px solid orange;
  position: absolute;

}

.imgs{
  border: 2px solid slateblue;
  height: 60%;
  background-image: url('/img/images.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name-prd{
  order: 1;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 8px 0 3px 8px;
}

.info{
  border: 2px solid springgreen;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 0.4em;
  padding-left: 0.4em;
}