*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem;
    padding: 0.8rem;
    width: 100%;
    border: 2px solid yellow;
    & .titleP{
        color: #FFE066;
        padding-right: 2.5rem;
    }
    & .navegation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 40vh;
        min-height: 10vh;
        & a{
            text-decoration: none;
            color: #FFE066;
            font-weight: 700;
        }
    }
}
body{
    background-color: #03001C;
    color: white
}
.raiz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    h2, h3{
        color: #CAA8F5;
    }
    & .content{
        border-radius: 5%;
        background-color: #301E67;
        box-shadow: 10px 10px 10px #23154e88;
        width: 80vh;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .container{
        background-image: url('/img/portada.png');
        border-radius: 5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 70vh;
        height: 60vh;
    }
    & .first-section{
        display: flex;
        flex-direction: column;
        width: 80vh;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }
}
