* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

/* ! styles header */

.header{
  display: flex;
}

.header .cabecera{
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.header .cabecera .content-head{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

span{
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ! style body */

body{
  background-color: #273746;
}

.raiz{
  height: 85vh;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #17202a;
  height: 60%;
  width: 55%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 5px 5px 25px #1d8348;
}

.imgs{
  height: 60%;
  background-image: url('/img/images.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name-prd{
  order: 1;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 8px 0 3px 8px;
}

.info{
  height: 30%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 0.4em;
  padding-left: 0.4em;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow-y: visible;
  gap: 5px;
}

@media(min-width: 750px){
  body{
    background-color: red;
  }

  .card{
    background-color: #17202a;
    height: 70%;
    width: 35%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 5px 25px #1d8348;
  }
}

@media(min-width: 950px){
  body{
    background-color: yellow;
  }

  .card{
    background-color: #17202a;
    height: 70%;
    width: 30%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 5px 25px #1d8348;
  }
}

@media(min-width: 1200px){
  body{
    background-color: green;
  }

  .card{
    background-color: #17202a;
    height: 70%;
    width: 20%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 5px 25px #1d8348;
  }
}